body{
    background-image: url('Fondo.jpg');
}

.titulo{
    position: absolute;
    transform: translate(120%, 0%);
}

.Hora-Segundo{
    color: white;
    transform: translate(50%, 50%);
    width: 30%;
    height: 20%;
    background-color: rgba(0, 0, 0, 0.407);
    border-radius: 10px;
    position: absolute;
}

.P_HS{
    margin-top: 5%;
}

.Area_Triangulo{
    color: white;
    transform: translate(180%, 40%);
    width: 30%;
    height: 25%;
    background-color: rgba(0, 0, 0, 0.407);
    border-radius: 10px;
    position: absolute;
}

.Raiz_Cuadrada_Impar{
    color: white;
    transform: translate(50%, 180%);
    width: 30%;
    height: 20%;
    background-color: rgba(0, 0, 0, 0.407);
    border-radius: 10px;
    position: absolute;
}

.Longitud-Cadena{
    color: white;
    transform: translate(180%, 180%);
    width: 30%;
    height: 20%;
    background-color: rgba(0, 0, 0, 0.407);
    border-radius: 10px;
    position: absolute;
}

.Navegador-Version{
    color: white;
    transform: translate(50%, 300%);
    width: 30%;
    height: 20%;
    background-color: rgba(0, 0, 0, 0.407);
    border-radius: 10px;
    position: absolute;
}

.Alto_Ancho_Pantalla{
    color: white;
    transform: translate(180%, 300%);
    width: 30%;
    height: 20%;
    background-color: rgba(0, 0, 0, 0.407);
    border-radius: 10px;
    position: absolute;
}

.B_IP{
    margin-top: 45%;
    color: white;
    padding: 14px;
    font-size: 18px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.407);
    cursor: pointer;
}

.B_IP:hover{
    background-color: rgba(0, 0, 0, 0.675);
}